[Desktop Entry]
Encoding=UTF-8
Name=Link to ArduinoBoardWithELM327.ino
Type=Link
URL=https://github.com/tonke9/OSuRV_2023/blob/main/ArduiniBoardWithELM327/ArduinoBoardWithELM327.ino
Icon=text-html
